<!-- Care -->
<section class="wrapper divided {{ .style }}">
  <div class="inner">
    <div class="index align-left">
      <section>
        <header>
          <h3>{{ .pagetitle }}</h3>
        </header>
        <div class="content">
          <dl>
            <dt>{{ .title_1 }}</dt>
            <dd>
              <p>{{ .text_1 }}</p>
            </dd>
            <dt>{{ .title_2 }}</dt>
            <dd>
              <p>{{ .text_2 }}</p>
            </dd>
          </dl>
        </div>
      </section>
    </div>
  </div>
</section>