<!-- Footer -->
<footer>
    <section class="wrapper style2 align-center">
        <div class="inner">
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left;">
                    <h2 class="margin-bottom">Luana Schmitz</h2>
                    <h4>CRP 07/32645</h4>
                </div>
                <div style="text-align: right;">
                    <div>
                        <strong>Telefone/Whatsapp: </strong>
                        <a href="https://wa.me/5551999999999">+55 51 99601.0222</a>
                    </div>
                    <div>
                        <strong>E-mail: </strong>
                        luanaxmt@gmail.com
                    </div>
                    <div>
                        <strong>Endereço: </strong>
                        Av. Goethe, 21 - sala 405
                    </div>
                </div>
            </div>
        </div>
        <div data-text="year"></div>
    </section>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
<script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}