<!-- Footer -->
<footer class="wrapper style2 align-center">
    <div style="display: flex; justify-content: space-between;">
        <div style="text-align: left;">
            <h2>Luana Schmitz</h2>
            <h4>CRP 07/32645</h4>
        </div>
        <div>
            <div>luanaxmt@gmail.com</div>
        </div>
    </div>
    <div data-text="year"></div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
<script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}