<!-- Form -->
<section id="contact" class="wrapper divided {{ .style }}">
  <div class="inner">
    <section>
      <header>
        <h3>{{ .title }}</h3>
      </header>
      <div class="content">
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <label for="name">Nome Completo</label>
              <input type="text" name="name" id="name" value="" required />
            </div>
            <div class="field half">
              <label for="email">E-mail</label>
              <input type="email" name="email" id="email" value="" required />
            </div>
            <div class="field half">
              <label for="email">Telefone (Whatsapp)</label>
              <input type="tel" name="phone" placeholder="(__) _____-____" />
            </div>
            <!-- <div class="field">
              <label for="department">Department</label>
              <select name="department" id="department">
                <option value="">- Category -</option>
                <option value="1">Manufacturing</option>
                <option value="2">Shipping</option>
                <option value="3">Administration</option>
                <option value="4">Human Resources</option>
              </select>
            </div> -->
            <div class="field">
              <label for="message">Mensagem</label>
              <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <div class="field">
              <label for="email">Como você prefere que eu entre em contato?</label>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="email-checkbox" name="priority" class="small" />
              <label for="email-checkbox">E-mail</label>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="phone" name="priority" class="small" />
              <label for="phone">Telefone</label>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="whatsapp" name="priority" class="small" />
              <label for="whatsapp">Whatsapp</label>
            </div>
            <!-- <div class="field half">
              <input type="checkbox" id="copy" name="copy" />
              <label for="copy">Email me a copy of this message</label>
            </div> -->
          </div>
          <ul class="actions">
            <li>
              <button type="submit" name="submit" id="submit">
                <span>Enviar</span>
              </button>
            </li>
          </ul>
        </form>

      </div>
    </section>
  </div>
</section>